@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

a.movie-link:hover {
  text-decoration: none;
}

.card:hover {
  border-color: darkgray;
}

.center-wrapper {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
